<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- last-response="{{hacerloginResponse}}"
    contentType="application/json"
  -->
    <iron-ajax id="hacerLogin"
               url="http://localhost:3001/api/usuarios/login"
               contentType="application/json"
               handle-as="json"

               loading="{{cargando}}"
               on-response="mostrarResultadoLogin">
    </iron-ajax>

    <!--url="http://localhost:3001/api/usuarios/alta/"
        contentType="application/json"
        loading="{{cargando}}"

        url="http://localhost:3001/api/usuarios"
        method="POST"
        Content-Type="application/x-www-form-urlencoded"
     -->
    <iron-ajax id="insertarRegistro"
               url="http://localhost:3001/api/usuarios/alta/"
               method="POST"
               Content-Type="application/x-www-form-urlencoded"
               handle-as="text"
               on-response="mostrarAlta">
    </iron-ajax>


  <iron-ajax id="consultaCuenta"
             url="http://localhost:3001/api/cuenta/consulta"
             handle-as="json"
             loading="{{cargando}}"
             on-response="mostrarResultadoCuenta">
  </iron-ajax>



<!--Campos de Usuario y Password -->
    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder= "escriba su correo {{valemail}}" value={{valemail::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password" value={{etPassword::input}}>
    </div>
    <div>
      <button class="btn btn-info" on-click="hacerLogin">Iniciar sesión</button>
    </div>
    <h2 hidden$="{{hiddenMsg}}"> [[etmensaje]]</h2 >

    <table class="table table-striped" hidden$="{{hiddentbLogin}}">
      <thead>
        <th>Bienvenido</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{tblogin}}" as = "tblog">
          <tr>
            <td>{{tblog.id_usuario}}</td>
          </tr>
        </template>
      </tbody>
    </table>

    <table class="table table-striped" hidden$="{{hiddentbCuenta}}">
      <thead>
        <th>Saldo</th>

      </thead>
      <tbody>
        <template is="dom-repeat" items="{{tbCuenta}}" as = "tbcta">
          <tr>
            <td>{{tbcta.saldo}}</td>
          </tr>

        </template>
      </tbody>
    </table>

    <div>
      <button class="btn btn-info" on-click="iniRegistro"     hidden$="{{hiddenBtnRegUsuario}}">Registro</button>
      <button class="btn btn-warning" on-click="cancelaRegistro" hidden$="{{hiddenBtncancelaRegistro}}">Cancelar Registro</button>
      <button class="btn btn-info" on-click="borraRegistro"   hidden$="{{hiddenBtnborraRegistro}}">Borrar Usuario</button>
      <button class="btn btn-info" on-click="consultaCuenta"  hidden$="{{hiddenBtnConsCuenta}}">Saldo en Cuentas</button>
    </div>

    <div hidden$="{{hiddenCamposUsuario}}">
      <label for="">Usuario</label>
      <input required="required" type="text" value={{valuser::input}}>
    </div>
    <div hidden$="{{hiddenCamposUsuario}}">
      <label for="">Nombre</label>
      <input required="required" type="text" value={{valnombre::input}}>
    </div>
    <div hidden$="{{hiddenCamposUsuario}}">
      <label for="">Apellido</label>
      <input required="required" type="text" value={{valapellido::input}}>
    </div>
    <div hidden$="{{hiddenCamposUsuario}}">
      <label for="">Email</label>
      <input required="required" type="text" value={{valemail::input}}>
    </div>
    <div hidden$="{{hiddenCamposUsuario}}">
      <label for="">Password</label>
      <input required="required" type="password" value={{etPassword::input}}>
    </div>
    <div hidden$="{{hiddenCamposUsuario}}">
      <label for="">Pais</label>
      <input required="required" type="text" value={{etPais::input}}>
    </div>

    <div>
      <button class="btn btn-info" on-click="insertarRegistro" hidden$="{{hiddenCamposUsuario}}">Guardar</button>
    </div>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
           etuser              : { type: String } //Etiqueta
          ,etpassword          : { type: String } //Etiqueta
          ,etlogin             : { type: String } //Etiqueta
          ,etmensaje           : { type: String, value: [] } //Mensaje a Usuario
          ,etusuarioironajax   : { type: String } //{ type: String } //Es el usuario extraido de la BD. Etiqueta
          ,etinsertaironajax   : { type: String, value: [] } //El valor que retorna el Alta de un usuario
          ,hiddenMsg           : { type: Boolean, value: true }
          ,hiddenBtnRegUsuario : { type: Boolean, value: true }
          ,hiddenBtncancelaRegistro: { type: Boolean, value: true }
          ,hiddenBtnborraRegistro: { type: Boolean, value: true }
          ,hiddenCamposUsuario : { type: Boolean, value: true }
          ,hiddenBtnConsCuenta : { type: Boolean, value: true }
          ,valuser             : { type: String }
          ,valnombre           : { type: String }
          ,valapellido         : { type: String }
          ,valemail            : { type: String, value: 'correo@bbva.com' }
          ,valpassword         : { type: String }
          ,tblogin             : { type: Array }
          ,tbCuenta            : { type: Array }
          ,hiddentbLogin       : { type: Boolean, value: true }
          ,hiddentbCuenta      : { type: Boolean, value: true }
        };
      }
      hacerLogin() {
        this.etmensaje = " "
        this.hiddenMsg= false
        if (this.valemail == null || this.valemail.length < 3) {
          this.etmensaje = "Falta capturar Email !"
          return
        }
        if (this.etPassword == null) {
          this.etmensaje = "Falta capturar Password !"
          return
        }
        this.$.hacerLogin.headers.email = this.valemail;
        this.$.hacerLogin.headers.password = this.etPassword;
        this.hiddenMsg   =true
        this.hiddenBtnRegUsuario  =true
        this.hiddenBtncancelaRegistro  =true
        this.hiddenCamposUsuario =true
        this.$.hacerLogin.generateRequest();
      }
      mostrarResultadoLogin(data) {
        const resp = data.detail.response
        var res = data.detail.response.length
        //console.log(res)
          if (data.detail.response.length == 0)
          {
            this.etmensaje            = "Password erroneo o correo '" +this.valemail + "' no registrado"
            this.hiddenMsg            = false
            this.hiddenBtnRegUsuario  = false
            this.hiddentbLogin        = true
            this.hiddentbCuenta       = true
            this.hiddenBtnConsCuenta       = true
            console.log("NO Valido")
            return
          }
          //this.etusuarioironajax = JSON.stringify(data.detail.response)
          if (data.detail.response.length == 1)
          {
            this.hiddenBtnConsCuenta=false
            this.tblogin = data.detail.response
            this.valuser = this.get('tblogin.0')
            //console.log(this.valuser)
            this.hiddentbLogin= false
            this.hiddenMsg= true
            this.etmensaje= "Bienvenido "
          }
      }

      consultaCuenta(){
          this.hiddenBtnConsCuenta=true
          this.$.consultaCuenta.headers.email = this.valemail;
          this.$.consultaCuenta.headers.id_usuario = this.valemail;
          this.$.consultaCuenta.generateRequest();
      }

      mostrarResultadoCuenta(data) {
        //console.log(res)
          if (data.detail.response.length == 0)
          {
            this.etmensaje            = "No existen cuentas '"
            this.hiddenMsg            = false
            //console.log("NO Valido")
            return
          }
          if (data.detail.response.length == 1)
          {
            this.hiddenBtnConsCuenta=false
            this.tbCuenta = data.detail.response
            this.hiddentbLogin= false
            this.hiddentbCuenta  = false
            this.hiddenMsg= true
            this.hiddenBtnConsCuenta=true
          }
      }


      iniRegistro(){
        this.hiddenBtncancelaRegistro     = false
        this.hiddenCamposUsuario    = false
        this.etmensaje            = ""
      }
      cancelaRegistro(){
        this.hiddenBtncancelaRegistro     = true
        this.hiddenCamposUsuario  = true
        this.etmensaje            = ""
        this.hiddenMsg            = true
        this.hiddenBtnRegUsuario  = true
      }

      insertarRegistro(){

        var obj = { "id_usuario": this.valuser,"nombre": this.valnombre,"apellido": this.valapellido,"email": this.valemail,"password": this.etPassword,"pais": this.etPais}
        this.$.insertarRegistro.headers = {
        'id_usuario': this.valuser,'nombre': this.valnombre,'apellido': this.valapellido,'email': this.valemail,'password': this.etPassword,'pais': this.etPais
        }
        this.$.insertarRegistro.generateRequest();
      }
      mostrarAlta(data){
        console.log(data.detail.response)
        console.log(data.detail.response.length )
        this.etinsertaironajax = data.detail.response
        this.valuser = this.etinsertaironajax.id_usuario

        if (data.detail.response.length <= 0)
        {
          this.etmensaje = "Error al registrar a " +this.valemail + '"error: ' + JSON.stringify(this.etinsertaironajax) +'"'

        }
        if (data.detail.response.length >> 1)
        {

          this.etmensaje = "Se dio de alta el usuario!"
          this.hiddenMsg= false
          this.hiddenBtncancelaRegistro  = true
          this.hiddenCamposUsuario  = true
          this.hiddenBtnRegUsuario  = true
        }

      }
    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
